body{
    background: linear-gradient(#faf7f7, #f768d6);
    font-family: 'Alaya Kelividala', cursive;
}
.footer{
    color: #6c757d;
    font-size: 18px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: #f5f5f5; 
    line-height: 3;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}
